<div class='nested-fields-container'>
  <%= builder.fields_for field_name do %>
    <div class="active-storage">
      <% if attachments.attached? && builder.object.persisted?  %>
        <% attachments.each do |attachment| %>
          <div class="active-storage__preview position-relative">
            <%= image_tag(main_app.url_for(attachment.variant(resize_to_limit: [300, 300])), class: "active-storage__image") %>
            <%= link_to main_app.rails_blob_path(attachment, disposition: "attachment"), class: "btn btn-info position-absolute" do %>
              <i class="fa fa-download"></i>
            <% end %>
            <div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= builder.raw_file_field(field_name, class: 'active-storage__field', multiple: true, direct_upload: true) %>
  <% end %>
</div>
